/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-image: url('../assets/carter-seymour-sinBP5z2d6g-unsplash_tab.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 0%;
    background-size: cover;
}


/* body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url('../assets/carter-seymour-sinBP5z2d6g-unsplash_tab.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
} */


/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */